<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.charmas.training.ui">

  <application android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      android:name=".ProductListApp">

    <activity
        android:name=".ProductListActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
